POSTGRES_DB=clinical_doc_intelligence
POSTGRES_USER=clinical_doc_intelligence
POSTGRES_PASSWORD=clinical_doc_intelligence
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

FRONTEND_PORT=5173

LLM_PROVIDER=disabled
LLM_MODEL=
LLM_API_KEY=
